
<div>

<h2>Add Exercises</h2>

<form action="/workouts/create/add-exercises" method="POST">

    Workout name: <h3>{{workoutName}}</h3>
    Exercises:
    <a href="#" id="addExerciseButton">Add Exercise!</a>
    <div id="exerciseContainer" name="exerciseContainer">
    <input type="submit" name="" value="Add Exercises!">

</form>
<script src="../public/javascript/addExercises.js"></script>
</div>