<div>
<h2>Add a Workout!</h2>

<form action="/workouts/create" method="POST">

    Workout name: <input type="text" name="name" value="">
    {{!-- Exercises:
    <a href="#" id="addExerciseButton" onclick="addExercise()">Add Exercise!</a>
    <div id="exerciseContainer" name="exerciseContainer"></div> --}}
    <input type="submit" name="" value="Create workout!">

</form>
<script>
</script>
</div>