<div>
<h2>Add a Workout!</h2>

<form action="/workouts/create" method="POST">

    User: <input type="text" name="user" value="">
    Workout name: <input type="text" name="name" value="">
    Created on: <input type="text" name="createdAt" value="">
    Exercises: <input type="text" name="exercises" value="">
    <a href="#" id="addExerciseButton" onclick=
    <input type="submit" name="" value="Create workout">

</form>
</div>