<html>
    <head>

        <link rel="stylesheet" type="text/css" href="/css/main.css">

    </head>
    <body>
        <header>
            <h1>Fitness Witness</h1>
        </header>
        <nav>
            <a href="/">Home</a>
            <a href="/workouts/create">Add a Workout</a>
            <a href="/workouts">My Workouts</a>
        </nav>

        {{{ body }}}

        <p>Your session's total page visits: {{pageCount}}</p>
    </body>

</html>