
<h1>Login</h1>

{{#if messages.error}}
    {{messages.error}}
{{/if}}

<form action="/login" method="POST">

    Username: <input type="text" id="username" name="username" required>
    Password: <input type="password" id="password" name="password" required>
    <button type="submit">Login</button>
    
</form>

<a href="/register">Register</a>

{{!-- <h3>Login using Google:</h3>

<a class="google-btn" href="/auth/google">Google</a> --}}