

<h1>Register</h1>

<h3>Create an account: </h3>

<form action="/register" method="POST">

    Username: <input type="text" id="username" name="username" required>
    Password: <input type="password" id="password" name="password" required>
    <button type="submit">Register</button>

</form>

<a href="/login">Login</a>